**If n is odd, print Weird
If n is even and in the inclusive range of 2 to 6, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird**

In [15]:
n=int(input("Enter a number: "))
if n%3==0:
    print("Weird")
elif n%2==0 and n in range(2,6):
    print("Not Weird")
elif n%2==0 and n in range(6,21):
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")
else:
    print("odd number")

Enter a number: 26
Not Weird

In [9]:
n=int(input("Enter a number: "))
if n%3==0:
    print("Weird")
elif n%2==0 and n in range(2,6):
    print("Not Weird")
elif n%2==0 and n in range(6,21):
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")

Enter a number: 8
Weird

In [16]:
10//2

5

In [17]:
10%2

0

In [18]:
10%3

1

In [19]:
float(10%3)

1.0

In [20]:
45//3

15

In [21]:
45//2

22

# List

list is collection of int, float, str, list and etc.
list can hold any kind of data.
list is mutable -> we can modify list.
list is supports indexing. By default indexing starts with 0
list is also supports slicing -> devide data into small chunk.

How to create a list?

There are two ways to create a empty list?
1] 
    variable_name = list()
    #Here we are create object of list class. This is empty list.
2] 
    varialble_name = []
    #Here we are creating list based on syntax. This is empty list.

In [27]:
num=list()

In [28]:
num

[]

In [29]:
num=[1,2,3,4,5,6,4]

In [30]:
type(num)

list

In [31]:
len(num)

7

**Indexing**

In [32]:
num[4]

5

In [33]:
num[6]

4

In [34]:
num[3]

4

In [35]:
num

[1, 2, 3, 4, 5, 6, 4]

In [36]:
num[-1]

4

In [37]:
num[-5]

3

***Built in functions of List***

In [39]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [40]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [41]:
num

[1, 2, 3, 4, 5, 6, 4]

In [42]:
num.append(7)

In [43]:
num.append(8)

In [44]:
num

[1, 2, 3, 4, 5, 6, 4, 7, 8]

In [45]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

In [46]:
num1=[1,2,3,4,5]

In [47]:
num2=[5,6,7,8,9,10]

In [48]:
num1=num2.copy()

In [49]:
num1

[5, 6, 7, 8, 9, 10]

In [50]:
num2

[5, 6, 7, 8, 9, 10]

In [51]:
num2.clear()

In [52]:
num2

[]

In [53]:
num

[1, 2, 3, 4, 5, 6, 4, 7, 8]

In [54]:
num.count(4)

2

In [55]:
num.count(5)

1

In [56]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [59]:
num1=['a','b','c','d','e','f']
num2=[1,2,3,4,5,6]
num1.extend(num2)

In [60]:
num1

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [61]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [62]:
num1

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [63]:
num1.index(2)

7

In [64]:
num1.index('d')

3

In [65]:
num1[3]

'd'

In [66]:
num1.index('f')

5

In [68]:
num1[5]

'f'

In [69]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [70]:
num1

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [71]:
num1.index(1)

6

In [76]:
num1.insert(6,'g')

In [77]:
num1

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'f', 1, 2, 3, 4, 5, 6]

In [78]:
num1.remove("f")

In [79]:
num1

['a', 'b', 'c', 'd', 'e', 'g', 'f', 1, 2, 3, 4, 5, 6]

In [80]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [82]:
num1.reverse()

In [83]:
num1

[6, 5, 4, 3, 2, 1, 'f', 'g', 'e', 'd', 'c', 'b', 'a']

In [84]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [85]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [86]:
num1

[6, 5, 4, 3, 2, 1, 'f', 'g', 'e', 'd', 'c', 'b', 'a']

In [88]:
num=[5,4,3,7,8,2,1,6]

In [89]:
num.sort()

In [94]:
num

[1, 2, 3, 4, 5, 6, 7, 8]

**how to reverse list**

In [95]:
num[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [96]:
num1

[6, 5, 4, 3, 2, 1, 'f', 'g', 'e', 'd', 'c', 'b', 'a']

In [97]:
num1[::-1]

['a', 'b', 'c', 'd', 'e', 'g', 'f', 1, 2, 3, 4, 5, 6]

***Given a Python list of numbers. Turn every item of a list into its square***

In [98]:
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [99]:
num1=[i*i for i in num]
print(num1)

[1, 4, 9, 16, 25, 36, 49, 64]

In [100]:
num2=[12,13,14,15]
num3=[i*i for i in num2]
print(num3)

[144, 169, 196, 225]

 **Add item 7000 after 6000 in the following Python List**

In [101]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [102]:
list1[2]

[300, 400, [5000, 6000], 500]

In [104]:
list1[2][2]

[5000, 6000]

In [105]:
list1[2][2][1]

6000

In [106]:
list1[2][2].append(7000)

In [107]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

***Another method**

In [108]:
list1[2][2].insert(2,7000)

In [109]:
list1

[10, 20, [300, 400, [5000, 6000, 7000, 7000], 500], 30, 40]

# Python program to interchange first and last elements in a list

In [8]:
def num():
    
    num = [12, 35, 9, 56, 24]
    num.pop(0)
    num.pop(-1)
    
    num.insert(0,24)
    num.append(12)
    print(num)
num()

[24, 35, 9, 56, 12]

In [26]:
def swap(num):
    num=[12,35,9,56,24]
    size=len(num) #size=5
    num1=num[0] # num1=12
    num[0]=num[size-1] # 12=num[4] ;12=24
    num[size-1]=num1  #24=12
    
    return num
print(swap(num))

[24, 35, 9, 56, 12]

In [24]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [5]:
num.index(24)

4

# Another Method to interchange first and last element of list

In [28]:
num=[10,20,30,40,50]
x=num[0]
num[0]=num[(len(num))-1]
num[(len(num)-1)]=x
print(num)

[50, 20, 30, 40, 10]

In [32]:
num=[10,20,30,40,50]

num[0],num[-1] = num[-1],num[0]

print(num)

[50, 20, 30, 40, 10]

In [34]:
num=[80,45,55,40,100]
x= num[0],num[-1]
num[-1],num[0]=x
print(num)

[100, 45, 55, 40, 80]

In [35]:
num=[1,2,3,4,5]
a,*b,c=num
num=a,*b,c
print(a)
print(b)
print(c)

1
[2, 3, 4]
5

In [39]:
num=[1,2,3,4,5]
start,*middle,end=num   #  *----Operand symbol
num=[end,*middle,start]
print(num)

[5, 2, 3, 4, 1]

# Python program to swap two elements in a list

# Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list.

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3

In [42]:
list1=[23,65,19,90]
pos1,pos2=1,3
list1[pos1],list1[pos2]=list1[pos2],list1[pos1]
print(list1)

[23, 90, 19, 65]

***BY using pop and insert*****

In [43]:
list1=[23,65,19,90]
pos1,pos2=1,3
x=list1.pop(pos1) # 65 remove
y=list1.pop(pos2 - 1) # now list1=[23,19,90] only 0,1,2 positions are present

list1.insert(pos1,y)  # x==65 And y==90
list1.insert(pos2,x)

print(list1)

[23, 90, 19, 65]

# Python – Swap elements in String list

In [53]:
list1=["python","course","django"]

print("The original list is : " + str(list1))

res = [sub.replace('c', 'd').replace('p', 'a').replace('g', 'e') for sub in list1]

print ("List after performing character swaps : " + str(res))

The original list is : ['python', 'course', 'django']
List after performing character swaps : ['aython', 'dourse', 'djaneo']

In [68]:
num=['course','python']
print("before: "+ str(num))

x = [sub.replace('c', 'p').replace('e', 't').replace('o', 'h') for sub in num]

print("result : " + str(x))

before: ['course', 'python']
result : ['phurst', 'pythhn']

# Write a program to check if element exist in a list or not

In [10]:
num=[1,2,3,4,5,6,7,8,9,20,45]
y=int(input("Enter a number which you want to check : "))
x=num.count(y)

if x>0:
    print("Exist")
else:
    print("Not Exist")

Enter a number which you want to check : 80
Not Exist

In [11]:
num=[1,2,3,4,5,6,7,8,9,20,45]
y=int(input("Enter a number which you want to check : "))
x=num.count(y)

if x>0:
    print("Exist")
else:
    print("Not Exist")

Enter a number which you want to check : 9
Exist

# Reversing a List in Python

In [28]:
num=123456789

rev=0
while num !=0:
    rem=num%10
    rev=(rev*10)+rem
    num=num//10
print(rev)

987654321

In [29]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# Using Built in function

In [30]:
num=[1,2,3,4,5,6,7,8,9,20,45]
num.reverse()

In [31]:
num

[45, 20, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Using the slicing technique.

In [34]:
num=[1,2,3,4,5,6,7,8,9,20,45]
num[::-1]

[45, 20, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# program to print even numbers in a list

In [52]:
num=[1,2,3,4,5,6,7,8,9,20,45]
for i in num:   # i=1,2,3,4,5,6,7,8,9,20,45 
    if i%2==0:  # i%2 and remider 0 then this statement will be true
        print(i," is a Even Number")
        i=i+1    # for first iteration i=1;1=1+1;for second iteration i=2 and so on

2  is a Even Number
4  is a Even Number
6  is a Even Number
8  is a Even Number
20  is a Even Number

# program to print odd numbers in a list

In [15]:
num=[1,2,3,4,5,6,7,8,9,20,45]
for i in num:   # i=1,2,3,4,5,6,7,8,9,20,45 
    if i%2==0:  # i%2 and remider 0 then this statement will be true
        print(i   ," is a Even Number")
        i=i+1    # for first iteration i=1;1=1+1;for second iteration i=2 and so on 
    else:
        print(i   ,'is odd number')

1 is odd number
2  is a Even Number
3 is odd number
4  is a Even Number
5 is odd number
6  is a Even Number
7 is odd number
8  is a Even Number
9 is odd number
20  is a Even Number
45 is odd number

In [29]:
num=[1,2,3,4,5,6,7,8,9,20,45]

for i in num:
    if i %2!=0:
        print(i,'is odd number')

1 is odd number
3 is odd number
5 is odd number
7 is odd number
9 is odd number
45 is odd number

**User input**

In [51]:
num=int(input("Enter Numbers Which You Want to check even or odd"))
rem=num%2
if (rem==0):
    print(num,'even')
else:
    print(num,'odd')

Enter Numbers Which You Want to check even or odd84
84 even

In [2]:
num=int(input("Enter Numbers Which You Want to check even or odd: "))
rem=num%2
if (rem==0):
    print(num,'even')
else:
    print(num,'odd')

Enter Numbers Which You Want to check even or odd: 45
45 odd

***Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200(both included) the number obtained should be stored in a list.***

In [3]:
num=[]
for i in range(2000,3201):
    if i%7==0 and i%5 !=0:
        num.append(i)
print(num)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

***Write a program which will find all such numbers which are divisible by 3 and not by 2 between 1 to 100 the number obtained should be stored in a list***

In [4]:
result=[]
for i in range(1,101):
    if i%3==0 and i%2!=0:
        result.append(i)
print(result)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

***Write a program which will have a list  of values and then input a number and check if the value present in the list or not and if present how many times.***

In [21]:
num=[45,88,87,95,88,75,88,91,100,88,10]
x=int(input("Enter a number which you want to check : "))
if x in num:
    print("number present in list")
    print(num.count(x),'times value is present')
else:
    print("Not present in list")

Enter a number which you want to check : 88
number present in list
4 times value is present

In [9]:
num=[45,35,87,95,96,75,88,91,100,20,10]
x=int(input("Enter a number which you want to check : "))
for i in num:
    if i==x:
        print('value is present',x)
    
        
print(num.count(x),'times value is present')

Enter a number which you want to check : 20
value is present 20
1 times value is present

In [10]:
num=[45,35,87,95,96,75,88,91,100,20,10]
x=int(input("Enter a number which you want to check : "))
for i in num:
    if i==x:
        print('value is present',x)
    
        
print(num.count(x),'times value is present')

Enter a number which you want to check : 32
0 times value is present

In [19]:
num=[45,35,87,95,96,75,88,91,100,20,10]
x=int(input("Enter a number which you want to check : "))
if x in num:
    print("number present in list")
    print(num.count(x),'times value is present')
else:
    print("Not present in list")

Enter a number which you want to check : 95
number present in list
1 times value is present

In [23]:
num=[45,35,87,95,96,75,88,91,100,20,10]
x=int(input("Enter a number which you want to check : "))
if x in num:
    print("number present in list")
    print(num.count(x),'times value is present')
else:
    print("Number Not present in list")

Enter a number which you want to check : 12
Number Not present in list

**Write a program which will input 5 names from user and print the names in alphabetical order**

In [49]:
num=[str(input("Enter first names : "))]
num.append(str(input("Enter second names : ")))
num.append(str(input("Enter third names : ")))
num.append(str(input("Enter fourth names : ")))

num.append(str(input("Enter fifth names : ")))
print(num)
num.sort()
print("List in Aplhabetical order: ",num)

Enter first names : dog
Enter second names : bat
Enter third names : cat
Enter fourth names : apple
Enter fifth names : banana
['dog', 'bat', 'cat', 'apple', 'banana']
List in Aplhabetical order:  ['apple', 'banana', 'bat', 'cat', 'dog']

In [39]:
num1=['banana','apple','cat','bat']
num1.sort()
print(num1)

['apple', 'banana', 'bat', 'cat']

In [37]:
num1.sort()

In [40]:
num=[45,35,87,95,96,75,88,91,100,20,10]
num.sort()

In [41]:
num

[10, 20, 35, 45, 75, 87, 88, 91, 95, 96, 100]

In [47]:
names=[]
for i in range(5):
    n=input("Enter a name : ")
    names.append(n)
print("Enterd names are: ",names)
names.sort()
print('sorted names are : ',names)

Enter a name : dog
Enter a name : cat
Enter a name : bat
Enter a name : apple
Enter a name : banana
Enterd names are:  ['dog', 'cat', 'bat', 'apple', 'banana']
sorted names are :  ['apple', 'banana', 'bat', 'cat', 'dog']

**Write a program to input names and marks of 5 students, print the names marks of students who got the highest marks and who got the lowest marks**

In [55]:
names=[]
marks=[]
for i in range(5):
    s=input("Enter a name: ")
    names.append(s)
    m=int(input("Enter a marks : "))
    marks.append(m)
print("students names are : ",names)
print("Students marks are : ",marks)
h=max(marks)
l=min(marks)

for i in range(5):
    if h==marks[i]:
        print("Students having highest marks is: ",names[i],"Marks_______",h)
    if l==marks[i]:
        print("Students having lowest marks is: ",names[i],"Marks_________",l)

Enter a name: Mahesh
Enter a marks : 90
Enter a name: Ganesh
Enter a marks : 98
Enter a name: Raj
Enter a marks : 60
Enter a name: Vikas
Enter a marks : 80
Enter a name: Vipul
Enter a marks : 88
students names are :  ['Mahesh', 'Ganesh', 'Raj', 'Vikas', 'Vipul']
Students marks are :  [90, 98, 60, 80, 88]
Students having highest marks is:  Ganesh Marks_______ 98
Students having lowest marks is:  Raj Marks_________ 60

**Write a program to input a value and insert it in the middle of an existing list.**

In [59]:
num=[1,2,3,4,6,7,8,9,10]
v=int(input("Enter a value: "))
pos=int(input("Enter a position at which number is entered:"))
if pos > len(num):
    print("Error: Please enter a valid position according to range of num!")
        
num.insert(pos,v)
print(num)

Enter a value: 5
Enter a position at which number is entered:4
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
num=[1,2,3,4,6,7,8,9,10]
v=float(input("Enter a value: "))
pos=int(input("Enter a position at which number is entered:"))
if pos > len(num):
    print("Error: Please enter a valid position according to range of num!")
        
num.insert(pos,v)
print(num)

Enter a value: 8.5
Enter a position at which number is entered:7
[1, 2, 3, 4, 6, 7, 8, 8.5, 9, 10]

In [63]:
num=[1,2,3,4,6,7,8,9,10]
v=int(input("Enter a value: "))
pos=int(input("Enter a position at which number is entered:"))
if pos > len(num):
    print("Error: Please enter a valid position according to range of num!")
if pos<= len(num):
    
    num.insert(pos,v)
    print(num)

Enter a value: 40
Enter a position at which number is entered:12
Error: Please enter a valid position according to range of num!

#                                 Tuple

In [64]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [65]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [66]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [67]:
tu=(1,2,3,4,5,[22,55])

In [68]:
type(tu)

tuple

In [69]:
len(tu)

6

In [70]:
tu[5][0]=54

In [71]:
tu

(1, 2, 3, 4, 5, [54, 55])

**We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.**

# Write a Python program to add an item in a tuple.

In [75]:
num=1,2,3,4,5,6,8
print(num)

(1, 2, 3, 4, 5, 6, 8)

In [76]:
type(num)

tuple

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

In [79]:
num=num + (45,)

In [80]:
num

(1, 2, 3, 4, 5, 6, 8, 45)

In [81]:
num=num + (46,)

In [82]:
num

(1, 2, 3, 4, 5, 6, 8, 45, 46)

**adding items in a specific index**

In [84]:
num=num[:6] + (7,)

In [85]:
num

(1, 2, 3, 4, 5, 6, 7)

In [86]:
num=num[:5] + (11,12,13,14,15)

In [87]:
num

(1, 2, 3, 4, 5, 11, 12, 13, 14, 15)

# Write a Python program to check whether an element exists within a tuple.

In [88]:
num = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
x=input("Enter a element which you want to check: ")
if x in num:
    print("Element exist in tuple")
else:
    print("Element not exist in tuple")

Enter a element which you want to check: r
Element exist in tuple

In [89]:
num = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
x=input("Enter a element which you want to check: ")
if x in num:
    print("Element exist in tuple")
else:
    print("Element not exist in tuple")

Enter a element which you want to check: 35
Element not exist in tuple

In [98]:
num = ("w", 5, "r", "e", "s", "o", "u", 45, "c", "e")
x=int(input("Enter a element which you want to check: "))
if x in num:
    print("Element exist in tuple")
else:
    print("Element not exist in tuple")

Enter a element which you want to check: 5
Element exist in tuple

In [92]:
num = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
type(num)

tuple

In [93]:
num = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")
for i in num:
    print(i)

w
3
r
e
s
o
u
r
c
e

In [94]:
type(i)

str

# Write a Python program to reverse a tuple.

In [104]:
num=(1,2,3,4,5,6,7,8,9)
x=reversed(num)

print(tuple(x))

(9, 8, 7, 6, 5, 4, 3, 2, 1)

**Using Slicing**

In [105]:
num=(1,2,3,4,5,6,7,8,9)
x=num[::-1]
print(x)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [107]:
num=(1,2,3,4,5,6,7,8,9)
x=()
for i in reversed(num):
    x=x + (i,)
print(x)

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [113]:
num=(1,2,3,4,5,6,7,8,9)
rev=0
for i in num: # i==1 to 9
    
    if i!=0:
    
        
        rem=i%10
        rev=(rev * 10) + rem
        i=i//10
print(rev)

123456789

In [114]:
1%10

1

In [115]:
2%10

2

# Write a Python program to replace last value of tuples in a list.

In [118]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [119]:
type(l)

list

In [120]:
len(l)

3

In [121]:
l[0]

(10, 20, 40)

In [122]:
l[2]

(70, 80, 90)

In [123]:
l[2][2]

90

In [124]:
l[2][2]=100
print(l)

TypeError: 'tuple' object does not support item assignment

In [130]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([t[:-1]+(100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]